{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}

<div class="container mx-auto" style="width: 500px;">
	<h2>
		Liste des evenements à venir</h2>
	{% for event in events %}
	{% if event.created_at > "now"|date() %}

	<div class="card mb-3" style="max-width: 550px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{ vich_uploader_asset(event, 'imageFile') }}"
					class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{event.titre}}</h5>
					{# <p class="card-text">{{event.description}} </p> #}
					<p class="card-text">
						<small class="text-muted    ">Le {{ event.created_at|date('Y-m-d')}} à {{
							event.created_at|date('H:i') }}</small>
					</p>
					<p class="card-text"> Lieu: {{ event.lieu }}.</p>
					{% if event.invite is not empty %}
					<h5 class="card-title">Invité</h5>
					<p class="card-text">{{event.invite}}.</p>
					{% else %}
					<h5 class="card-title">Aucun invité .</h5>
					{% endif %}

					<a href="{{path('app_evenement_detail', {'id': event.id})}}"
						class="btn btn-primary">Voir plus</a>
					<a href="{{path('app_evenement_detail', {'id': event.id})}}"
						class="btn btn-primary">Participer</a>

				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% endfor %}
</div>

{% endblock %}
